<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easylive.mappers.CategoryInfoMapper">

    <!--实体映射-->
    <resultMap id="base_result_map" type="com.easylive.entity.po.CategoryInfo">
        <!--自增分类ID-->
        <id column="category_id" property="categoryId"/>
        <!--分类编码-->
        <result column="category_code" property="categoryCode"/>
        <!--分类名称-->
        <result column="category_name" property="categoryName"/>
        <!--父级分类ID-->
        <result column="p_category_id" property="pCategoryId"/>
        <!--图标-->
        <result column="icon" property="icon"/>
        <!--背景图-->
        <result column="background" property="background"/>
        <!--排序号-->
        <result column="sort" property="sort"/>
    </resultMap>


    <!-- 通用查询结果列-->
    <sql id="base_column_list">
        c.category_id,c.category_code,c.category_name,c.p_category_id,c.icon,
        c.background,c.sort
    </sql>

    <sql id="base_condition_filed">
        <if test="query.categoryId != null">
            and c.category_id = #{query.categoryId}
        </if>
        <if test="query.categoryCode != null and query.categoryCode!=''">
            and c.category_code = #{query.categoryCode}
        </if>
        <if test="query.categoryName != null and query.categoryName!=''">
            and c.category_name = #{query.categoryName}
        </if>
        <if test="query.pCategoryId != null">
            and c.p_category_id = #{query.pCategoryId}
        </if>
        <if test="query.icon != null and query.icon!=''">
            and c.icon = #{query.icon}
        </if>
        <if test="query.background != null and query.background!=''">
            and c.background = #{query.background}
        </if>
        <if test="query.sort != null">
            and c.sort = #{query.sort}
        </if>
    </sql>
    <!-- 通用条件列-->
    <sql id="base_condition">
        <where>
            <include refid="base_condition_filed"/>
        </where>
    </sql>

    <!-- 通用查询条件列-->
    <sql id="query_condition">
        <where>
            <include refid="base_condition_filed"/>
            <if test="query.categoryCodeFuzzy!= null  and query.categoryCodeFuzzy!=''">
                and c.category_code like concat('%', #{query.categoryCodeFuzzy}, '%')
            </if>
            <if test="query.categoryNameFuzzy!= null  and query.categoryNameFuzzy!=''">
                and c.category_name like concat('%', #{query.categoryNameFuzzy}, '%')
            </if>
            <if test="query.iconFuzzy!= null  and query.iconFuzzy!=''">
                and c.icon like concat('%', #{query.iconFuzzy}, '%')
            </if>
            <if test="query.backgroundFuzzy!= null  and query.backgroundFuzzy!=''">
                and c.background like concat('%', #{query.backgroundFuzzy}, '%')
            </if>
            <if test="query.categoryIdOrPCategoryId!=null">
                and (c.category_id = #{query.categoryIdOrPCategoryId} or c.p_category_id = #{query.categoryIdOrPCategoryId})
            </if>
        </where>
    </sql>

    <!-- 查询集合-->
    <select id="selectList" resultMap="base_result_map">
        SELECT
        <include refid="base_column_list"/>
        FROM category_info c
        <include refid="query_condition"/>
        <if test="query.orderBy!=null">
            order by ${query.orderBy}
        </if>
        <if test="query.simplePage!=null">
            limit #{query.simplePage.start},#{query.simplePage.end}
        </if>
    </select>

    <!-- 查询数量-->
    <select id="selectCount" resultType="java.lang.Integer">
        SELECT count(1) FROM category_info c
        <include refid="query_condition"/>
    </select>

    <!-- 插入 （匹配有值的字段）-->
    <insert id="insert" parameterType="com.easylive.entity.po.CategoryInfo">
        <selectKey keyProperty="bean.categoryId" resultType="Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO category_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.categoryCode != null">
                category_code,
            </if>
            <if test="bean.categoryName != null">
                category_name,
            </if>
            <if test="bean.pCategoryId != null">
                p_category_id,
            </if>
            <if test="bean.icon != null">
                icon,
            </if>
            <if test="bean.background != null">
                background,
            </if>
            <if test="bean.sort != null">
                sort,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.categoryCode!=null">
                #{bean.categoryCode},
            </if>
            <if test="bean.categoryName!=null">
                #{bean.categoryName},
            </if>
            <if test="bean.pCategoryId!=null">
                #{bean.pCategoryId},
            </if>
            <if test="bean.icon!=null">
                #{bean.icon},
            </if>
            <if test="bean.background!=null">
                #{bean.background},
            </if>
            <if test="bean.sort!=null">
                #{bean.sort},
            </if>
        </trim>
    </insert>

    <!-- 插入或者更新 （匹配有值的字段）-->
    <insert id="insertOrUpdate" parameterType="com.easylive.entity.po.CategoryInfo">
        INSERT INTO category_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.categoryId != null">
                category_id,
            </if>
            <if test="bean.categoryCode != null">
                category_code,
            </if>
            <if test="bean.categoryName != null">
                category_name,
            </if>
            <if test="bean.pCategoryId != null">
                p_category_id,
            </if>
            <if test="bean.icon != null">
                icon,
            </if>
            <if test="bean.background != null">
                background,
            </if>
            <if test="bean.sort != null">
                sort,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.categoryId!=null">
                #{bean.categoryId},
            </if>
            <if test="bean.categoryCode!=null">
                #{bean.categoryCode},
            </if>
            <if test="bean.categoryName!=null">
                #{bean.categoryName},
            </if>
            <if test="bean.pCategoryId!=null">
                #{bean.pCategoryId},
            </if>
            <if test="bean.icon!=null">
                #{bean.icon},
            </if>
            <if test="bean.background!=null">
                #{bean.background},
            </if>
            <if test="bean.sort!=null">
                #{bean.sort},
            </if>
        </trim>
        on DUPLICATE key update
        <trim prefix="" suffix="" suffixOverrides=",">
            <if test="bean.categoryCode!=null">
                category_code = VALUES(category_code),
            </if>
            <if test="bean.categoryName!=null">
                category_name = VALUES(category_name),
            </if>
            <if test="bean.pCategoryId!=null">
                p_category_id = VALUES(p_category_id),
            </if>
            <if test="bean.icon!=null">
                icon = VALUES(icon),
            </if>
            <if test="bean.background!=null">
                background = VALUES(background),
            </if>
            <if test="bean.sort!=null">
                sort = VALUES(sort),
            </if>
        </trim>
    </insert>

    <!-- 添加 （批量插入）-->
    <insert id="insertBatch" parameterType="com.easylive.entity.po.CategoryInfo" useGeneratedKeys="true" keyProperty="categoryId">
        INSERT INTO category_info(
        category_code,
        category_name,
        p_category_id,
        icon,
        background,
        sort
        )values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.categoryCode},
            #{item.categoryName},
            #{item.pCategoryId},
            #{item.icon},
            #{item.background},
            #{item.sort}
            )
        </foreach>
    </insert>

    <!-- 批量新增修改 （批量插入）-->
    <insert id="insertOrUpdateBatch" parameterType="com.easylive.entity.po.CategoryInfo">
        INSERT INTO category_info(
        category_code,
        category_name,
        p_category_id,
        icon,
        background,
        sort
        )values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.categoryCode},
            #{item.categoryName},
            #{item.pCategoryId},
            #{item.icon},
            #{item.background},
            #{item.sort}
            )
        </foreach>
        on DUPLICATE key update
        category_code = VALUES(category_code),
        category_name = VALUES(category_name),
        p_category_id = VALUES(p_category_id),
        icon = VALUES(icon),
        background = VALUES(background),
        sort = VALUES(sort)
    </insert>

    <!--多条件修改-->
    <update id="updateByParam" parameterType="com.easylive.entity.query.CategoryInfoQuery">
        UPDATE category_info c
        <set>
            <if test="bean.categoryCode != null">
                category_code = #{bean.categoryCode},
            </if>
            <if test="bean.categoryName != null">
                category_name = #{bean.categoryName},
            </if>
            <if test="bean.pCategoryId != null">
                p_category_id = #{bean.pCategoryId},
            </if>
            <if test="bean.icon != null">
                icon = #{bean.icon},
            </if>
            <if test="bean.background != null">
                background = #{bean.background},
            </if>
            <if test="bean.sort != null">
                sort = #{bean.sort},
            </if>
        </set>
        <include refid="query_condition"/>
    </update>

    <!--多条件删除-->
    <delete id="deleteByParam">
        delete c from category_info c
        <include refid="query_condition"/>
    </delete>

    <!-- 根据CategoryId修改-->
    <update id="updateByCategoryId" parameterType="com.easylive.entity.po.CategoryInfo">
        UPDATE category_info
        <set>
            <if test="bean.categoryCode != null">
                category_code = #{bean.categoryCode},
            </if>
            <if test="bean.categoryName != null">
                category_name = #{bean.categoryName},
            </if>
            <if test="bean.pCategoryId != null">
                p_category_id = #{bean.pCategoryId},
            </if>
            <if test="bean.icon != null">
                icon = #{bean.icon},
            </if>
            <if test="bean.background != null">
                background = #{bean.background},
            </if>
            <if test="bean.sort != null">
                sort = #{bean.sort},
            </if>
        </set>
        where category_id=#{categoryId}
    </update>

    <!-- 根据CategoryId删除-->
    <delete id="deleteByCategoryId">
        delete from category_info where category_id=#{categoryId}
    </delete>

    <!-- 根据PrimaryKey获取对象-->
    <select id="selectByCategoryId" resultMap="base_result_map">
        select
        <include refid="base_column_list"/>
        from category_info c where category_id=#{categoryId}
    </select>

    <!-- 根据CategoryCode修改-->
    <update id="updateByCategoryCode" parameterType="com.easylive.entity.po.CategoryInfo">
        UPDATE category_info
        <set>
            <if test="bean.categoryName != null">
                category_name = #{bean.categoryName},
            </if>
            <if test="bean.pCategoryId != null">
                p_category_id = #{bean.pCategoryId},
            </if>
            <if test="bean.icon != null">
                icon = #{bean.icon},
            </if>
            <if test="bean.background != null">
                background = #{bean.background},
            </if>
            <if test="bean.sort != null">
                sort = #{bean.sort},
            </if>
        </set>
        where category_code=#{categoryCode}
    </update>

    <!-- 根据CategoryCode删除-->
    <delete id="deleteByCategoryCode">
        delete from category_info where category_code=#{categoryCode}
    </delete>

    <!-- 根据PrimaryKey获取对象-->
    <select id="selectByCategoryCode" resultMap="base_result_map">
        select
        <include refid="base_column_list"/>
        from category_info c where category_code=#{categoryCode}
    </select>

    <select id="selectMaxSort" resultType="java.lang.Integer">
        select ifnull(max(sort),0) from category_info where p_category_id=#{pCategoryId}
    </select>

    <update id="updateSortBatch">
        <foreach collection="categoryList" separator=";" item="item">
            update category_info set sort = #{item.sort} where category_id = #{item.categoryId} and p_category_id=#{item.pCategoryId}
        </foreach>
    </update>
</mapper>