<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easylive.mappers.VideoPlayHistoryMapper">

    <!--实体映射-->
    <resultMap id="base_result_map" type="com.easylive.entity.po.VideoPlayHistory">
        <!--用户ID-->
        <result column="user_id" property="userId"/>
        <!--视频ID-->
        <result column="video_id" property="videoId"/>
        <!--文件索引-->
        <result column="file_index" property="fileIndex"/>
        <!--最后更新时间-->
        <result column="last_update_time" property="lastUpdateTime"/>
    </resultMap>


    <!-- 通用查询结果列-->
    <sql id="base_column_list">
        v.user_id,v.video_id,v.file_index,v.last_update_time
    </sql>

    <sql id="base_condition_filed">
        <if test="query.userId != null">
            and v.user_id = #{query.userId}
        </if>
        <if test="query.videoId != null and query.videoId!=''">
            and v.video_id = #{query.videoId}
        </if>
        <if test="query.fileIndex != null">
            and v.file_index = #{query.fileIndex}
        </if>
        <if test="query.lastUpdateTime != null and query.lastUpdateTime!=''">
            <![CDATA[ and  v.last_update_time=str_to_date(#{query.lastUpdateTime}, '%Y-%m-%d') ]]>
        </if>
    </sql>
    <!-- 通用条件列-->
    <sql id="base_condition">
        <where>
            <include refid="base_condition_filed"/>
        </where>
    </sql>

    <!-- 通用查询条件列-->
    <sql id="query_condition">
        <where>
            <include refid="base_condition_filed"/>
            <if test="query.videoIdFuzzy!= null  and query.videoIdFuzzy!=''">
                and v.video_id like concat('%', #{query.videoIdFuzzy}, '%')
            </if>
            <if test="query.lastUpdateTimeStart!= null and query.lastUpdateTimeStart!=''">
                <![CDATA[ and  v.last_update_time>=str_to_date(#{query.lastUpdateTimeStart}, '%Y-%m-%d') ]]>
            </if>
            <if test="query.lastUpdateTimeEnd!= null and query.lastUpdateTimeEnd!=''">
                <![CDATA[ and  v.last_update_time< date_sub(str_to_date(#{query.lastUpdateTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
            </if>
        </where>
    </sql>

    <!-- 查询集合-->
    <select id="selectList" resultMap="base_result_map">
        SELECT
        <include refid="base_column_list"/>
        <if test="query.queryVideoDetail">
            ,d.video_cover videoCover,d.video_name videoName
        </if>
        FROM video_play_history v
        <if test="query.queryVideoDetail">
            left join video_info d on d.video_id = v.video_id
        </if>
        <include refid="query_condition"/>
        <if test="query.orderBy!=null">
            order by ${query.orderBy}
        </if>
        <if test="query.simplePage!=null">
            limit #{query.simplePage.start},#{query.simplePage.end}
        </if>
    </select>

    <!-- 查询数量-->
    <select id="selectCount" resultType="java.lang.Integer">
        SELECT count(1) FROM video_play_history v
        <include refid="query_condition"/>
    </select>

    <!-- 插入 （匹配有值的字段）-->
    <insert id="insert" parameterType="com.easylive.entity.po.VideoPlayHistory">
        INSERT INTO video_play_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.userId != null">
                user_id,
            </if>
            <if test="bean.videoId != null">
                video_id,
            </if>
            <if test="bean.fileIndex != null">
                file_index,
            </if>
            <if test="bean.lastUpdateTime != null">
                last_update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.userId!=null">
                #{bean.userId},
            </if>
            <if test="bean.videoId!=null">
                #{bean.videoId},
            </if>
            <if test="bean.fileIndex!=null">
                #{bean.fileIndex},
            </if>
            <if test="bean.lastUpdateTime!=null">
                #{bean.lastUpdateTime},
            </if>
        </trim>
    </insert>

    <!-- 插入或者更新 （匹配有值的字段）-->
    <insert id="insertOrUpdate" parameterType="com.easylive.entity.po.VideoPlayHistory">
        INSERT INTO video_play_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.userId != null">
                user_id,
            </if>
            <if test="bean.videoId != null">
                video_id,
            </if>
            <if test="bean.fileIndex != null">
                file_index,
            </if>
            <if test="bean.lastUpdateTime != null">
                last_update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.userId!=null">
                #{bean.userId},
            </if>
            <if test="bean.videoId!=null">
                #{bean.videoId},
            </if>
            <if test="bean.fileIndex!=null">
                #{bean.fileIndex},
            </if>
            <if test="bean.lastUpdateTime!=null">
                #{bean.lastUpdateTime},
            </if>
        </trim>
        on DUPLICATE key update
        <trim prefix="" suffix="" suffixOverrides=",">
            <if test="bean.userId!=null">
                user_id = VALUES(user_id),
            </if>
            <if test="bean.videoId!=null">
                video_id = VALUES(video_id),
            </if>
            <if test="bean.fileIndex!=null">
                file_index = VALUES(file_index),
            </if>
            <if test="bean.lastUpdateTime!=null">
                last_update_time = VALUES(last_update_time),
            </if>
        </trim>
    </insert>

    <!-- 添加 （批量插入）-->
    <insert id="insertBatch" parameterType="com.easylive.entity.po.VideoPlayHistory">
        INSERT INTO video_play_history(
        user_id,
        video_id,
        file_index,
        last_update_time
        )values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.userId},
            #{item.videoId},
            #{item.fileIndex},
            #{item.lastUpdateTime}
            )
        </foreach>
    </insert>

    <!-- 批量新增修改 （批量插入）-->
    <insert id="insertOrUpdateBatch" parameterType="com.easylive.entity.po.VideoPlayHistory">
        INSERT INTO video_play_history(
        user_id,
        video_id,
        file_index,
        last_update_time
        )values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.userId},
            #{item.videoId},
            #{item.fileIndex},
            #{item.lastUpdateTime}
            )
        </foreach>
        on DUPLICATE key update
        user_id = VALUES(user_id),
        video_id = VALUES(video_id),
        file_index = VALUES(file_index),
        last_update_time = VALUES(last_update_time)
    </insert>

    <!--多条件修改-->
    <update id="updateByParam" parameterType="com.easylive.entity.query.VideoPlayHistoryQuery">
        UPDATE video_play_history v
        <set>
            <if test="bean.userId != null">
                user_id = #{bean.userId},
            </if>
            <if test="bean.videoId != null">
                video_id = #{bean.videoId},
            </if>
            <if test="bean.fileIndex != null">
                file_index = #{bean.fileIndex},
            </if>
            <if test="bean.lastUpdateTime != null">
                last_update_time = #{bean.lastUpdateTime},
            </if>
        </set>
        <include refid="query_condition"/>
    </update>

    <!--多条件删除-->
    <delete id="deleteByParam">
        delete v from video_play_history v
        <include refid="query_condition"/>
    </delete>

    <!-- 根据UserIdAndVideoId修改-->
    <update id="updateByUserIdAndVideoId" parameterType="com.easylive.entity.po.VideoPlayHistory">
        UPDATE video_play_history
        <set>
            <if test="bean.fileIndex != null">
                file_index = #{bean.fileIndex},
            </if>
            <if test="bean.lastUpdateTime != null">
                last_update_time = #{bean.lastUpdateTime},
            </if>
        </set>
        where user_id=#{userId} and video_id=#{videoId}
    </update>

    <!-- 根据UserIdAndVideoId删除-->
    <delete id="deleteByUserIdAndVideoId">
        delete from video_play_history where user_id=#{userId} and video_id=#{videoId}
    </delete>

    <!-- 根据PrimaryKey获取对象-->
    <select id="selectByUserIdAndVideoId" resultMap="base_result_map">
        select
        <include refid="base_column_list"/>
        from video_play_history v where user_id=#{userId} and video_id=#{videoId}
    </select>

</mapper>